## Analyzing borrowers’ risk of defaulting

Your project is to prepare a report for a bank’s loan division. You’ll need to find out if a customer’s marital status and number of children has an impact on whether they will default on a loan. The bank already has some data on customers’ credit worthiness.

Your report will be considered when building a **credit scoring** of a potential customer. A ** credit scoring ** is used to evaluate the ability of a potential borrower to repay their loan.

### Step 1. Open the data file and have a look at the general information.

In [1]:
import pandas as pd
credit = pd.read_csv('/datasets/credit_scoring_eng.csv')
print(credit.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None

In [2]:
credit.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,masters degree,0,married,0,F,employee,0,253875.639453,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,112080.014102,car purchase
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,145885.952297,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,267628.550329,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,158616.077870,to have a wedding

### Conclusion

There are a lot of entries, over 20,000. Total income and days employed have the same amount of entries which is less than the others, which have to do with various relevant details about customers.

### Step 2. Data preprocessing

### Processing missing values

In [3]:
credit['days_employed'].value_counts()

-986.927316     1
-7026.359174    1
-4236.274243    1
-6620.396473    1
-1238.560080    1
               ..
-2849.351119    1
-5619.328204    1
-448.829898     1
-1687.038672    1
-582.538413     1
Name: days_employed, Length: 19351, dtype: int64

In [4]:
credit[credit['days_employed'].isnull()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2174 entries, 12 to 21510
Data columns (total 12 columns):
children            2174 non-null int64
days_employed       0 non-null float64
dob_years           2174 non-null int64
education           2174 non-null object
education_id        2174 non-null int64
family_status       2174 non-null object
family_status_id    2174 non-null int64
gender              2174 non-null object
income_type         2174 non-null object
debt                2174 non-null int64
total_income        0 non-null float64
purpose             2174 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 220.8+ KB

There is definitely a correlation between NaN in days_employed and total_income. Could be because these entries are people who are not employed and thus have no income. Could be just missing data from people who didn't want to submit it.

In [5]:
credit[credit['total_income'].isnull()]['income_type'].value_counts()

employee         1105
partner           508
retiree           413
civil servant     147
entrepreneur        1
Name: income_type, dtype: int64

In [6]:
credit[credit['days_employed'].isnull()]['income_type'].value_counts()

employee         1105
partner           508
retiree           413
civil servant     147
entrepreneur        1
Name: income_type, dtype: int64

In [7]:
credit[credit['total_income'].isnull()]['purpose'].value_counts()

having a wedding                                 92
to have a wedding                                81
wedding ceremony                                 76
construction of own property                     75
housing transactions                             74
buy real estate                                  72
transactions with my real estate                 71
purchase of the house for my family              71
property renovation                              70
transactions with the residential real estate    70
buy commercial real estate                       67
buying property for renting out                  65
property                                         62
buy residential real estate                      61
real estate transactions                         61
housing                                          60
building a property                              59
cars                                             57
going to university                              56
to become educated                               55
second-hand car purchase                         54
buying my own car                                53
to own a car                                     52
purchase of the house                            52
to get asupplementary education                  51
getting an education                             50
supplementary education                          48
profile education                                47
purchase of my own house                         46
purchase of a car                                46
building a real estate                           46
car purchase                                     43
education                                        42
buying a second-hand car                         42
car                                              41
university education                             40
getting higher education                         36
to buy a car                                     30
Name: purpose, dtype: int64

In [8]:
credit[credit['total_income'].isnull()]['children'].value_counts()

 0     1439
 1      475
 2      204
 3       36
 20       9
 4        7
-1        3
 5        1
Name: children, dtype: int64

In [9]:
credit[credit['total_income'].isnull()]['education'].value_counts()

secondary education    1408
masters degree          496
SECONDARY EDUCATION      67
Secondary Education      65
bachelor degree          55
Masters Degree           25
MASTERS DEGREE           23
primary education        19
BACHELOR DEGREE           7
Bachelor Degree           7
PRIMARY EDUCATION         1
Primary Education         1
Name: education, dtype: int64

In [10]:
credit[credit['total_income'].isnull()]['family_status'].value_counts()

married              1237
civil partnership     442
unmarried             288
divorced              112
widow / widower        95
Name: family_status, dtype: int64

In [11]:
credit[credit['total_income'].isnull()]['gender'].value_counts()

F    1484
M     690
Name: gender, dtype: int64

In [12]:
credit[credit['total_income'].isnull()]['debt'].value_counts()

0    2004
1     170
Name: debt, dtype: int64

In [13]:
credit = credit.dropna()
credit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19351 entries, 0 to 21524
Data columns (total 12 columns):
children            19351 non-null int64
days_employed       19351 non-null float64
dob_years           19351 non-null int64
education           19351 non-null object
education_id        19351 non-null int64
family_status       19351 non-null object
family_status_id    19351 non-null int64
gender              19351 non-null object
income_type         19351 non-null object
debt                19351 non-null int64
total_income        19351 non-null float64
purpose             19351 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 1.9+ MB

In [14]:
credit[credit['days_employed'].isna() == True]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

Because the entries that are listed as no income seem to also say that they are employees or have other direct income sources, I must assume the values are missing at random, possibly related to user entry error. I have dropped the NaN rows.

In [15]:
credit['dob_years'].value_counts()

35    553
41    548
38    544
40    543
34    534
42    532
33    530
39    522
44    503
31    495
29    495
48    492
36    492
37    484
30    482
32    473
43    463
50    463
49    458
27    457
45    447
28    446
56    433
52    431
46    427
54    424
47    421
53    415
59    410
58    405
57    404
51    398
55    395
26    373
60    338
25    334
61    317
62    314
24    243
63    240
64    228
23    218
65    174
22    166
66    163
67    151
21     93
0      91
68     90
69     80
70     62
71     53
20     46
72     31
19     13
73      7
74      6
75      1
Name: dob_years, dtype: int64

0 years old makes no sense, applies to 101 entries. Because this is a relatively small porportion of borrowers, and we are not looking at ages in the final questions, I will apply the mean to fill the 0 entries.

In [16]:
dob_med = credit['dob_years'].median()
dob_med

42.0

In [17]:
credit['dob_years'] = credit['dob_years'].replace(to_replace=0, value=dob_med)
credit['dob_years'].value_counts()

42    623
35    553
41    548
38    544
40    543
34    534
33    530
39    522
44    503
31    495
29    495
36    492
48    492
37    484
30    482
32    473
43    463
50    463
49    458
27    457
45    447
28    446
56    433
52    431
46    427
54    424
47    421
53    415
59    410
58    405
57    404
51    398
55    395
26    373
60    338
25    334
61    317
62    314
24    243
63    240
64    228
23    218
65    174
22    166
66    163
67    151
21     93
68     90
69     80
70     62
71     53
20     46
72     31
19     13
73      7
74      6
75      1
Name: dob_years, dtype: int64

Replaced age of 0 with median age.

In [18]:
credit['education'].value_counts()

secondary education    12342
masters degree          4222
SECONDARY EDUCATION      705
Secondary Education      646
bachelor degree          613
MASTERS DEGREE           251
Masters Degree           243
primary education        231
Bachelor Degree           40
BACHELOR DEGREE           22
PRIMARY EDUCATION         16
Primary Education         14
academic degree            4
Academic Degree            1
ACADEMIC DEGREE            1
Name: education, dtype: int64

In [19]:
credit['family_status'].value_counts()

married              11143
civil partnership     3735
unmarried             2525
divorced              1083
widow / widower        865
Name: family_status, dtype: int64

In [20]:
credit['gender'].value_counts()

F      12752
M       6598
XNA        1
Name: gender, dtype: int64

In [21]:
credit['children'].value_counts()

 0     12710
 1      4343
 2      1851
 3       294
 20       67
-1        44
 4        34
 5         8
Name: children, dtype: int64

In [22]:
credit['income_type'].value_counts()

employee                       10014
partner                         4577
retiree                         3443
civil servant                   1312
unempoyed                          2
student                            1
paternity / maternity leave        1
entrepreneur                       1
Name: income_type, dtype: int64

In [23]:
credit['income_type'] = credit['income_type'].replace(to_replace='unempoyed', value='unemployed')
credit['income_type'].value_counts()

employee                       10014
partner                         4577
retiree                         3443
civil servant                   1312
unemployed                         2
student                            1
paternity / maternity leave        1
entrepreneur                       1
Name: income_type, dtype: int64

In [24]:
credit['debt'].value_counts()

0    17780
1     1571
Name: debt, dtype: int64

Most debts have been repaid, assuming 0 means repaid debt and 1 means unpaid debt.

### Conclusion

I dropped the null rows because there seemed to be no obvious correlation otherwise to why they were like that, so bias is probably avoided. I looked at the value counts to see if there were any immediately visible erroneous entries. <br>I will have to streamline the capitalization of education type. There is one gender outlier, XNA. <br>Under income_type, 'unemployed' is spelled wrong, corrected to 'unemployed'. <br>There seems to be an entry of -1 children in 47 entries, along with an entry of 20 children. Assumed both to be a typo meant to be simply 1 and 2. Converted income to integer amounts for ease of manipulation.

### Data type replacement

In [25]:

credit['dob_years'] = pd.to_numeric(credit['dob_years']).astype(int)
credit['total_income'] = pd.to_numeric(credit['total_income']).astype(int)
credit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19351 entries, 0 to 21524
Data columns (total 12 columns):
children            19351 non-null int64
days_employed       19351 non-null float64
dob_years           19351 non-null int64
education           19351 non-null object
education_id        19351 non-null int64
family_status       19351 non-null object
family_status_id    19351 non-null int64
gender              19351 non-null object
income_type         19351 non-null object
debt                19351 non-null int64
total_income        19351 non-null int64
purpose             19351 non-null object
dtypes: float64(1), int64(6), object(5)
memory usage: 1.9+ MB

### Conclusion

Converted dob_years and total_income to int from object. This will allow operations on the numbers. All other data types seem to make sense for the values provided.

### Processing duplicates

In [26]:
credit['education'] = credit['education'].str.lower()
credit['education'].value_counts()

secondary education    13693
masters degree          4716
bachelor degree          675
primary education        261
academic degree            6
Name: education, dtype: int64

In [27]:
credit['children'] = abs(credit['children'])
credit['children'] = credit['children'].replace(to_replace=20, value=2)
    
credit['children'].value_counts()

0    12710
1     4387
2     1918
3      294
4       34
5        8
Name: children, dtype: int64

In [28]:
duplicates = credit[credit.duplicated()]
duplicates

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

In [29]:
duplicates.count()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Conclusion

After adjusting for the null entries, and handling some possible user typos in entry for children and education, there are no duplicate rows. Converted education entry to lowercase, removed duplicates.  Fixed -1 value and 20 value in children, assumed typo for 1 and 2, respectively.

### Lemmatization

In [30]:
import nltk
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [31]:
def lemma_words(row):
    return [lemmatizer.lemmatize(row, pos='n') for row in nltk.word_tokenize(row)]

credit['purpose_lemma'] = credit['purpose'].apply(lemma_words)
credit['purpose_lemma'].value_counts()

[car]                                                  875
[wedding, ceremony]                                    721
[to, have, a, wedding]                                 693
[having, a, wedding]                                   685
[real, estate, transaction]                            615
[buy, commercial, real, estate]                        597
[purchase, of, the, house]                             595
[buying, property, for, renting, out]                  588
[housing]                                              587
[transaction, with, the, residential, real, estate]    581
[building, a, real, estate]                            580
[housing, transaction]                                 579
[purchase, of, my, own, house]                         574
[property]                                             572
[purchase, of, the, house, for, my, family]            570
[building, a, property]                                561
[construction, of, own, property]                      560
[transaction, with, my, real, estate]                  559
[buy, real, estate]                                    552
[buy, residential, real, estate]                       546
[property, renovation]                                 542
[buying, my, own, car]                                 452
[to, buy, a, car]                                      442
[going, to, university]                                440
[buying, a, second-hand, car]                          437
[second-hand, car, purchase]                           435
[to, own, a, car]                                      428
[car, purchase]                                        419
[supplementary, education]                             414
[university, education]                                413
[purchase, of, a, car]                                 409
[education]                                            405
[to, get, asupplementary, education]                   396
[getting, an, education]                               393
[getting, higher, education]                           390
[profile, education]                                   389
[to, become, educated]                                 357
Name: purpose_lemma, dtype: int64

### Conclusion

Created a new row in the dataframe for lemmatized purposes for loans.

### Categorizing Data

In [32]:

def cat_purpose(row):
    estate = ['housing', 'house', 'real', 'estate', 'property']
    education = ['education', 'university', 'educated']
    car = ['car']
    wedding = ['wedding']
    
    for keyword in estate:
        if keyword in row:
            return 'estate'
    for keyword in education:
        if keyword in row:
            return 'education'
    for keyword in car:
        if keyword in row:
            return 'car'
    for keyword in wedding:
        if keyword in row:
            return 'wedding'
        
    return 'other'   

credit['loan_purp'] = credit['purpose_lemma'].apply(cat_purpose)

In [33]:
credit['loan_purp'].value_counts()

estate       9758
car          3897
education    3597
wedding      2099
Name: loan_purp, dtype: int64

In [34]:
credit[credit['loan_purp'] == 'other']

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose, purpose_lemma, loan_purp]
Index: []

Separated loan purposes by type, continued categorizing until nothing is left in 'other' bin. This allows us to easily sort by and handle data in groups, to test relationships between them.

In [35]:
income_range = credit['total_income'].max() - credit['total_income'].min()
print(income_range)
income_range / 3

2244937

748312.3333333334

In [36]:
#income ranges 0-755201 = low
#income ranges 755201-1510402 = med
#income ranges 1510402 and up = high
def inc_cat(income):
    if income <= 755201 :
        return 'Low'
    if income <= 1510402:
        return 'Med'
    return 'High'


credit['inc_cat'] = credit['total_income'].apply(inc_cat)
credit['inc_cat'].value_counts()

Low     19304
Med        40
High        7
Name: inc_cat, dtype: int64

Divided income into 3 equal levels, which will allow us to look more granularly at relation of levels of income to debt repayment.

If debt = 0 means a loan paid back successfully and debt = 1 means unsuccessful, we can use .sum() and .count() to find ratios of debts repayed.

### Conclusion

Because the "purposes" for the loan cover many different reasons, after using lemmatization, I was able to condense it down to four main categories. This allows to compare debt repayment rates with loan purposes.

I also divided the income into 3 equal levels based on the range, to get a rough idea of who is most reliable to pay their loan back.

### Step 3. Answer these questions

- Is there a relation between having kids and repaying a loan on time?

In [37]:
childfree = credit[credit['children'] == 0]['debt']
childfree_ratio = childfree.sum() / childfree.count()
childfree_ratio

0.07490165224232888

In [38]:
childfull = credit[credit['children'] > 0]['debt']
childfull_ratio = childfull.sum() / childfull.count()
childfull_ratio

0.09320885408823973

In [39]:
print('Rate of unpaid loans by parenthood status:')
print('Childfree: {:.2%}' .format(childfree_ratio))
print('Have Children: {:.2%}' .format(childfull_ratio))

Rate of unpaid loans by parenthood status:
Childfree: 7.49%
Have Children: 9.32%

### Conclusion

There is a 2% difference in repayment rates between those who do not have children and those who do. 9% of borrowers with children are unpaid, while only 7% of childless borrowers have not paid. Childless borrowers are the better choice, but not by much.

- Is there a relation between marital status and repaying a loan on time?

In [40]:
credit['family_status'].value_counts()

married              11143
civil partnership     3735
unmarried             2525
divorced              1083
widow / widower        865
Name: family_status, dtype: int64

In [41]:
married_ratio = credit[credit['family_status'] == 'married']['debt'].sum() / credit[credit['family_status'] == 'married']['debt'].count()
married_ratio

0.07592210356277483

In [42]:
unmarried_ratio = credit[credit['family_status'] == 'unmarried']['debt'].sum() / credit[credit['family_status'] == 'unmarried']['debt'].count()
unmarried_ratio

0.1005940594059406

In [43]:
partner_ratio = credit[credit['family_status'] == 'civil partnership']['debt'].sum() / credit[credit['family_status'] == 'civil partnership']['debt'].count()
partner_ratio

0.09076305220883533

In [44]:
divorce_ratio = credit[credit['family_status'] == 'divorced']['debt'].sum() / credit[credit['family_status'] == 'divorced']['debt'].count()
divorce_ratio

0.07017543859649122

In [45]:
widow_ratio = credit[credit['family_status'] == 'widow / widower']['debt'].sum() / credit[credit['family_status'] == 'widow / widower']['debt'].count()
widow_ratio

0.06473988439306358

In [46]:
print('Rate of unpaid loans by marriage status:')
print('Married: {:.2%}' .format(married_ratio))
print('Civil Partnership: {:.2%}' .format(partner_ratio))
print('Unmarried: {:.2%}' .format(unmarried_ratio))
print('Divorced: {:.2%}' .format(divorce_ratio))
print('Widow / Widower: {:.2%}' .format(widow_ratio))

Rate of unpaid loans by marriage status:
Married: 7.59%
Civil Partnership: 9.08%
Unmarried: 10.06%
Divorced: 7.02%
Widow / Widower: 6.47%

### Conclusion

Widows and widowers are the best repayers of loans, but there is no drastic difference. Those in a civil partnership or unmarried have the highest rates of unpaid loans.

- Is there a relation between income level and repaying a loan on time?

In [47]:
low_ratio = credit[credit['inc_cat'] == 'Low']['debt'].sum() / credit[credit['inc_cat'] == 'Low']['debt'].count()
low_ratio

0.0811748860339826

In [48]:
med_ratio = credit[credit['inc_cat'] == 'Med']['debt'].sum() / credit[credit['inc_cat'] == 'Med']['debt'].count()
med_ratio

0.075

In [49]:
high_ratio = credit[credit['inc_cat'] == 'High']['debt'].sum() / credit[credit['inc_cat'] == 'High']['debt'].count()
high_ratio

0.14285714285714285

In [50]:
print('Rate of unpaid loans by income level:')
print('High income: {:.2%}' .format(high_ratio))
print('Middle income: {:.2%}' .format(med_ratio))
print('Low income: {:.2%}' .format(low_ratio))

Rate of unpaid loans by income level:
High income: 14.29%
Middle income: 7.50%
Low income: 8.12%

### Conclusion

Middle range incomes tend to pay back loans more reliably, whereas higher earners tend to be much less reliable.

- How do different loan purposes affect on-time repayment of the loan?

In [51]:
car_loan = credit[credit['loan_purp'] == 'car']['debt']
car_ratio = car_loan.sum() / car_loan.count()
car_ratio

0.09417500641519118

In [52]:
estate_loan = credit[credit['loan_purp'] == 'estate']['debt']
estate_ratio = estate_loan.sum() / estate_loan.count()
estate_ratio

0.07327321172371387

In [53]:
edu_loan = credit[credit['loan_purp'] == 'education']['debt']
edu_ratio = edu_loan.sum() / edu_loan.count()
edu_ratio

0.09202112871837642

In [54]:
wed_loan = credit[credit['loan_purp'] == 'wedding']['debt']
wed_ratio = wed_loan.sum() / wed_loan.count()
wed_ratio

0.07527393997141496

In [55]:
print('Rate of unpaid loans by loan purpose:')
print('Car loan: {:.2%}' .format(car_ratio))
print('Property, Home, Real Estate: {:.2%}' .format(estate_ratio))
print('Education and Schooling: {:.2%}' .format(edu_ratio))
print('Wedding: {:.2%}' .format(wed_ratio))

Rate of unpaid loans by loan purpose:
Car loan: 9.42%
Property, Home, Real Estate: 7.33%
Education and Schooling: 9.20%
Wedding: 7.53%

### Conclusion

Property loans are the most reliable to be repaid, while car loans and school loans are the ones left unpaid the most.

### Step 4. General conclusion

There is not a very strong correlation between the analyzed groups to determine who will pay back a loan more reliably. Those with higher incomes have a much higher rate of unpaid loans. Looking at all analyzed groups, someone who is a mid-level earner, borrowing for property or a house, widowed and without children, is probably the group that would have the highest 'credit score'.